<html>
  <head>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='mystyle.css')}}">
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma:light|Lovers+Quarrel|Roboto:thin|Open+Sans+Condensed:300|Open+Sans:300|Lora">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {% if username %}
      <div class="text-right">
        <img src="{{picture}}" class="username-image">{{username}}
        <br><br>
        <a class="button" href="{{url_for('gdisconnect')}}">Sign Out</a>
      </div>
    {% else %}
      <div class="text-right">
        <br>
        <a class="button" href="{{url_for('showLogin')}}">Log In</a>
      </div>
    {% endif %}
    <h2> Are you sure you want to delete {{item.name}}? </h2>
    <form action="{{ url_for('deleteMenuItem', restaurant_id=item.restaurant_id, menu_id=item.id)}}" method = 'post'>
      <a class='button' href = "{{ url_for('restaurantMenu', restaurant_id = item.restaurant_id)}}"> Cancel </a>
      <input class='button' type='submit', value = 'Delete'>
    </form>
  </body>
</html>
