<html>
  <head>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='mystyle.css')}}">
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma:light|Lovers+Quarrel|Roboto:thin|Open+Sans+Condensed:300|Open+Sans:300|Lora">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {% if username %}
      <div class="text-right">
        <img src="{{picture}}" class="username-image">{{username}}
        <br><br>
        <a class="button" href="{{url_for('gdisconnect')}}">Sign Out</a>
      </div>
    {% else %}
      <div class="text-right">
        <br>
        <a class="button" href="{{url_for('showLogin')}}">Log In</a>
      </div>
    {% endif %}
    <h1>New Restaurant</h1>
      <form action="{{ url_for('newRestaurant')}}" method = 'post'>
        <div class="leftalign">
          Name: <input type='text' size='30' name='name'>
        <br><br>
        <a class='button' href="{{url_for('allRestaurants')}}">Cancel</a>
        <input type='submit' class='button' value='Create'>
      </div>
    </form>
  </body>
</html>
